/* HomePage.css */

/* Vietnam Overview Section */
.vietnam-overview {
    background-color: whitesmoke;
    padding: 20px;
}

.vietnam-overview img {
    width: 350px;
    height: 270px;
    padding: 20px;
}

/* Popular Destinations Section */
.popular-destinations {
    background-color: #fff;
    padding: 20px;
}

.popular-destinations img {
    width: 350px;
    height: 400px;
    padding: 20px;
}

.popular-destinations p {
    text-align: center;
}
